.App{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 500px;
    display: flex;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    color: white;
    background-color: dodgerblue;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid white;
}

.text-container{
    margin-left: 20px;
}

.text-container h1, h5, p{
    font-family: sans-serif;
}

.text-container h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.text-container h5{
    color: black;
}

.text-container p{
    margin: 5px 0;
}